@import './_variables.scss';
@import 'bootstrap';
@import './_overrides.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}


.title-font {
  font-family: Quicksand
}

