@import './_variables.scss';
@import 'bootstrap';
@import './_overrides.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

main {
  flex-grow: 1;
}


.title-font {
  font-family: Quicksand
}


.z-1 {
  z-index: 1;
}

.border-3 {
  border-width: .5rem !important;
}




